{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    </head>
    <body>
        <header>
            {% if not is_auth %}
                <img src="{% static 'base/images/logo.png' %}" alt="">
                <p>QRCode Auqa</p>
                <div class="urls">
                    <a href="{% url 'registration' %}">Sign up</a>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            {% else %}
                {#
                <a href="{% url 'my_qr' %}"></a>
                <a href="{% url 'contacts' %}"></a>
                <a href="{% url 'subscribe' %}"></a>
                #}
            {% endif %}
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>