{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="without-auth">
            <div class="logo-title">
                <img src="{% static 'images/wave.png' %}" alt="">
                <a href="/" style="text-decoration: none; text-transform:none;">
                    <h1 class="title">QRCode Aqua</h1>
                </a>
            </div> 
                <div class="links">
                    {% if not is_auth %}
                        <a href="{% url 'login' %}">Log in</a>
                        <a href="{% url 'registration' %}">Sign Up</a>
                    {% else %}
                        <a href="{% url 'generate' %}">Generate</a>
                        <a href="{% url 'my_qrs' %}">My qrs</a>
                        <a href="{% url 'subscribes' %}">Subscribe</a>
                        <p class="username">username</p>
                    {% endif %}
                </div>
            </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>