{% extends 'base.html' %}
{% load static %}

{% block title %}
    registration
{% endblock %}    


{% block head %}
    <link rel="stylesheet" href="{% static 'user/css/registration.css' %}">
{% endblock %}    



{% block content %}
    <form method="post" class="registration">
        {% csrf_token %}  
        {% if not confirm %}
            <h1>SIGN UP</h1>
            <input type="text" placeholder="Username *">
            <input type="email" placeholder="Email *">
            <input type="password" placeholder="Password *">
            <button type="submit">Submit</button>
        {% else %}
            <h2>Успішна реєстрація</h2>
            <a href="{% url 'login' %}" style="color:black; text-transform:none">Авторизація</a>
        {% endif %}
    </form>
{% endblock %}