{% extends "base.html" %}

{% load static %}

{% block title %}
    Мої QR-Codes | QRcode Aqua
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'my_qrs/css/my_qrs.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <h2 class="my_qrs">Мої QR-Codes:</h2>
        <form method="post" class="filters">
            {% csrf_token %}
            <h3 class="filter">Filter:</h3>
            <select name="sorting-type" class="filter_input">
                <option value="a-z">Сортирувати від A до Z</option>
                <option value="z-a">Сортирувати від Z до A</option>
                <option value="from-today">Сортирувати за найближчою датою створення</option>
                <option value="from-old">Сортирувати за найдавнішою датою створення</option>
            </select>
            <!-- <input type="select" class="filter_input"> -->
            <button class="search_button" type="submit">
                <img class="search_img" src="{% static 'my_qrs/imgs/search.png' %}" alt="search">
            </button>
        </form>
        <!-- <div class="filters">
        </div> -->
    </div>
    {% if qrcodes %}
        <div class="qr-codes">
            {% for qrcode in qrcodes %}
                <div class="qrcode">
                    <img src="{{ qrcode.qrcode_img.url }}" style="width: 275px; height:275px;">
                    <p class="date-creation">Date: {{ qrcode.date }}</p>
                    <p class="title-qr-code">{{ qrcode.name }}</p>
                    <button class="download">Download</button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="without-qrcodes-div">
            <h5 class="without-qrcodes">У вас немає жодного QRкода</h5>
        </div>
    {% endif %}
{% endblock %}
