{% extends "base.html" %}

{% load static %}

{% block title %}
    Підписки
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'my_qrs/css/my_qrs.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <h2 class="my_qrs">Мої QR-Codes:</h2>
        <div class="filters">
            <h3 class="filter">Filter:</h3>
            <input type="text" class="filter_input">
            <button class="search_button">
                <img class="search_img" src="{% static 'my_qrs/imgs/search.png' %}" alt="search">
            </button>
        </div>
    </div>
    <div class="qr-codes">
        <div class="qrcode">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="qrcode" style="width: 350px; height:350px;">
            <p class="date-creation">Date: 11.09.2001</p>
            <p class="title-qr-code">Відеокарта</p>
            <button class="download">Download</button>
        </div>

        <div class="qrcode">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="qrcode" style="width: 350px; height:350px;">
            <p class="date-creation">Date: 11.09.2001</p>
            <p class="title-qr-code">Відеокарта</p>
            <button class="download">Download</button>
        </div>
        
        <div class="qrcode">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="qrcode" style="width: 350px; height:350px;">
            <p class="date-creation">Date: 11.09.2001</p>
            <p class="title-qr-code">Відеокарта</p>
            <button class="download">Download</button>
        </div>
    </div>
{% endblock %}
