.login {
    
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 36px;

    width: 800px;
    height: 550px;

    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 40px;


}
h1{
    font-family: 'Inter';
    font-size: 40px;
}
input {
    width: 618px;
    height: 96px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 30px;
    padding-left: 10px;
}
button {
    width: 318px;
    height: 64px;
    background-color: #82A9F2;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 30px;
    padding-left: 10px;
}
button:hover {
    background-color: #5B8CE7;
}
.login-url {
    font-weight: 600;   
}
.doesnt-has-account {
    font-family: 'Inter';
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
    text-align: center;
}
.doesnt-has-account a {
    text-transform: none;
    color: #000000;
    font-size: 20px;
    text-decoration: underline;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}