{% extends "base.html" %}

{% load static %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
{% endblock %}

{% block content %}
    <!-- <div class="welcome-text">
        <p>
            На цьому сайті можно
        </p>
        <p>
            створити кастомний 
        </p>
        <p>
            QR-Code.
        </p>
        <p>
            Щоб почати створювати
        </p>
        <p>
            потрібно авторизуватись
        </p>
    </div> -->
{% endblock %}
